absl-py==0.12.0
aiohttp==3.8.1
aiosignal==1.2.0
argon2-cffi==20.1.0
asgiref==3.3.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.1
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.12b0
bleach==3.3.0
blinker==1.4
Bottleneck==1.3.2
brotlipy==0.7.0
cachelib==0.4.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.4.8
cvxopt==1.2.7
cycler==0.10.0
Cython==0.29.26
dataframe-image==0.1.1
dcor==0.5.3
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
Django==3.1.7
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
eventlet==0.30.1
Flask==1.1.4
Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.2.0
gast==0.4.0
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.19.1
greenlet==1.0.0
grpcio==1.42.0
h5py==3.6.0
idna==2.10
importlib-metadata==4.8.2
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.3
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==12.0.0
llvmlite==0.37.0
lxml==4.6.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.19.0
mpmath==1.2.1
multidict==5.1.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.3.0
numba==0.54.1
numexpr==2.7.3
numpy==1.20.3
oauthlib==3.1.1
olefile==0.46
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.3
pandocfilters==1.4.3
parsimonious==0.8.1
parso==0.8.1
pathspec==0.9.0
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.3.0
pip==21.2.2
platformdirs==2.4.0
pm4py==2.2.17
pmdarima==1.8.4
progressbar==2.5
prometheus-client==0.12.0
prompt-toolkit==3.0.20
protobuf==3.17.2
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydotplus==2.0.2
pyemd==0.5.1
Pygments==2.8.0
PyJWT==2.1.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysd==2.2.0
PySocks==1.7.1
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
pyvis==0.1.9
pywin32==228
pywinpty==0.5.7
pyzmq==22.3.0
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
ruptures==1.1.5
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.5.0
setuptools==58.0.4
sip==5.0.0
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
sqlparse==0.4.1
statsmodels==0.13.1
StringDist==1.0.9
sympy==1.7.1
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
tslearn==0.5.2
typing_extensions==4.0.1
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.37.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xarray==0.20.2
xlrd==2.0.1
yarl==1.6.3
zipp==3.6.0
