pandas>=0.25.1
Flask>=1.0.2
pm4py==2.0.0
networkx==2.2
statsmodels==0.10.1
matplotlib==3.1.1
numpy>=1.17.2
ruptures==1.0.5
changefinder==0.3
scipy>=1.5.2
pyvis==0.1.5.0
dcor==0.3
xarray==0.11.3
pydot==1.2.4
seaborn==0.9.0
pysd==0.10.0
mayavi==4.7.2
scikit_learn==0.23.2
