absl-py==0.9.0
altgraph==0.16.1
appJar==0.93.0
argon2-cffi @ file:///C:/ci/argon2-cffi_1596826740294/work
arrow==0.15.7
asgiref==3.2.10
asn1crypto==0.24.0
astor==0.8.1
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
backcall==0.2.0
binaryornot==0.4.4
bleach==3.1.5
bpmn-python==0.0.18
cachetools==4.1.0
certifi==2020.6.20
cffi==1.11.5
changefinder==0.3
chardet==3.0.4
ciso8601==2.1.1
Click==7.0
cloudpickle==1.6.0
colorama==0.4.3
conda==4.9.1
conda-package-handling==1.6.0
cookiecutter==1.7.2
cryptography==2.7
cvxopt==1.2.2
cx-Oracle==7.1.0
cycler==0.10.0
dataclasses==0.6
dcor==0.3
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
Django @ file:///tmp/build/80754af9/django_1601563330930/work
docopt==0.6.2
entrypoints==0.3
fastdtw==0.3.4
Flask==1.0.2
Flask-Cors==3.0.7
freeze==1.0.10
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.9
grpcio==1.28.1
h5py==2.10.0
html5lib==1.0.1
hyperopt==0.2.4
idna==2.6
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
intel-openmp==2018.0.3
intervaltree==3.0.2
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jedi @ file:///C:/ci/jedi_1596472773465/work
jellyfish==0.8.2
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==0.13.2
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==5.2.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.34.0
lxml==4.3.0
macholib==1.11
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
menuinst==1.4.14
Mesa==0.8.7
mistune==0.8.4
mkl==2018.0.3
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.0
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.2
nose==1.3.7
notebook @ file:///C:/ci/notebook_1596840158498/work
numba==0.51.2
numpy==1.17.2
oauthlib==3.1.0
opt-einsum==3.2.1
opyenxes==0.3.0
p-decision-tree==0.0.2
packaging==20.4
pandas==0.25.1
pandas-datareader==0.8.1
pandas-montecarlo==0.0.2
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.7.0
patsy==0.5.1
pefile==2018.8.8
pickleshare==0.7.5
pipreqs==0.4.9
pipupgrade==1.3.0
pm4py==2.0.0
pm4pycvxopt==0.0.10
pm4pyws==0.0.9
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.11.3
psycopg2 @ file:///C:/ci/psycopg2_1594303009470/work
PuLP==1.6.9
py2exe==0.9.2.2
pyarrow==0.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.18
pyDOE==0.3.8
pydot==1.2.4
pydotplus==2.0.2
Pygments==2.6.1
PyInstaller==3.4
pymc==2.3.7
pyOpenSSL==18.0.0
pyparsing==2.4.2
pyrsistent==0.16.0
pysd==0.10.0
PySocks==1.6.8
python-dateutil==2.8.0
python-slugify==4.0.0
pytz==2019.3
pyvis==0.1.5.0
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.1
qtconsole==4.4.1
regex==2019.3.12
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.37
ruptures==1.0.5
scikit-learn==0.21.3
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simpy==3.0.12
six==1.15.0
sortedcontainers==2.1.0
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
statsmodels==0.10.1
StringDist==1.0.9
sympy==1.6.2
tensorboard==2.0.2
tensorflow==2.0.3
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tornado==6.0.3
tqdm==4.44.1
traitlets==4.3.3
urllib3==1.22
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.2.1
xarray==0.11.3
xlrd==1.2.0
xlwt==1.3.0
yapf==0.26.0
yarg==0.1.9
zipp==3.1.0
