{% extends "baseforSim.html" %}


{% block title %} Automatic Generation of Causal Loop Diagram {% endblock %}

{% block content %}
          <div class="col-sm-2 col-md-5 col-lg-3">
        <form  action="" method = "POST">
            <p>SD-Log: <input type = "file" value="fileupload" name = "SDLog" /></p>

            <div>
                  <br><p>Remove the loops: <input type = "radio" name = "general" value="General" /></p>
            <!--p>Organizational: <input type = "radio" name = "general" value="Organizational" /></p>
             <p>Activity Flow: <input type = "radio" name = "general" value="Activity Flow" /></p>
                <p>Resources: <input type = "radio" name = "general" value="Resources" /></p-->
            </div>

            <p><input  class="btn btn-primary mb-2" type = "submit" value = "submit" id ='submitEL' /></p>

        </form>

              <p><button  class="btn btn-primary mb-2" id="Validate" onclick="Validate()">Discover Auto CLD</button></p>
               <div><p id="PatternRes" style="">{{tw_result}}</p></div>

          </div>

            <div id="ELResultimg" style="display:none;" class="col-sm-5 col-md-2 col-lg-4">

                <div><iframe  scrolling="no" src="mygraph1.html" width="100%" style="height: 50em;width:50em;" alt=""></iframe></div>
                <div><img class="img-responsive" src="static/images/cld_after.png" alt=""></div>
<!--
                <div><img class="img-responsive" src="static/images/cld_before.png" alt=""></div>
-->

          </div>
            <div  id="GraphCLD" style="display:none;" class="col-sm-5 col-md-5 col-lg-5">
                <div><iframe src="mygraph.html" frameborder="0"></iframe>></div>

            </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
   function Validate() {
  document.getElementById('ELResultimg').style.display = "block";
  ocument.getElementById('PatternRes').style.display = "block";
  document.getElementById('GraphCLD').style.display = "block";
}
function LoadELResultimg() {
  document.getElementById('ELResultimg').style.display = "block";
  document.getElementById('GraphCLD').style.display = "block";
}
  </script>

{% endblock %}
