{% extends "baseforSim.html" %}


{% block title %} Interactive CLD Generator: Map Parameters {% endblock %}

{% block content %}
          <div class="col-sm-12 col-md-12 col-lg-12">
            <form action = "http://localhost:5000/DesignedCDF.html" method = "POST"  name="formmap">

                  <table style="width:100%">
                  <tr>
                      <th></th>
                      {% for param, val in param_list.items()%}
                    <th style="color:#00529F; font-size:11pt;">{{param}} </th>
                       {% endfor %}
                  </tr>
                    <tr> <th></th></tr>
                    <tr>

                         {% for param, val in param_list.items()%}
                        <th style="color:#00529F; font-size:10pt;">{{param}} <p style="color:#00b0b8;">is influenced by:</p> </th>
                         {% for pparam, vval in param_list.items()%}

                        <td > <lable class="form-check-label"><input name={{param}}+{{pparam}} class="form-check-input" type="checkbox">
                        {% if vval.get(param)>0.6 or vval.get(param)<-0.6 %}
                            <font color=" #4a357a "><b>Strong</b></font>
                            {% else %}
                                <font color=" #bdace7 ">Weak</font>
                            {% endif %}

                        </lable>

                        </td>

                        {% endfor %}

                    </tr>
                    {%endfor %}
                    <tr>


                    </tr>

                </table>
<!--
            {% for param, val in param_list.items()%}
                <p> <b>{{param}}</b> gets influence from:</p>
                <p><input name={{param+"+"+"No"}} type="checkbox" style="margin-right: 10px">No one</input></p>
                {% for k,v in val.items()%}
                    {%if v != 0%}
                <p> <input name={{param+"+"+k}} type="checkbox" style="margin-right: 10px">{{k}}</input></p>
                    {% endif%}
                {% endfor %}

            {% endfor %}
            -->

        </p>
        <p><input  class="btn btn-primary mb-2" method= "POST" value="Creat CFD" type = "submit" id="CreatCFD" onclick="ShowBtnCFD()" name = "submit" ></input></p>



             </form>
<div id="divshowcfdBt">
                 <p><button  class="btn btn-primary mb-2" type = "submit" id="ShowCFD" onclick="ShowCFD()" value = "submit" > Show CLD</button></p>
     <a class="label label-primary" href="{{url_for('downloadCLDModel')}}" style="margin-right: 5px;"> Right click to download the CLD Model  </a>
                 <!--a id="downloadlink" class="label label-primary"  download href="ModelsFormat/newtestDFD.mdl" > </a-->
            </div>
          </div>

          </div>


        <div class="col-sm-12 col-md-12 col-lg-12">

          <div id="divShowCFD" style="display:none;" >
              <div>The simulation file (.mdl) is created on : <b><i> /ModelsFormat/newtestDFD.mdl</i></b> </div>
            <iframe  scrolling="no" src="mygraph.html" width="100%" style="height: 50em;width:50em;" alt=""></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>


<div id="foot" style="width:100%; height:90px;" class="bg-dark border-right">
      <p style="color : white;font-size:300%;">PADS RWTH Aachen University</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function ShowBtnCFD(){
     document.getElementById('divshowcfdBt').style.display = "block";   }
      function ShowCFD(){
     document.getElementById('divShowCFD').style.display = "block";   }
      function ShowLink(){
     document.getElementById('downloadlink').style.display = "block";   }
</script>

{% endblock %}