<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   <title>Scenario-based Analysis of Processes</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <link href="static/css/Mystyle.css" rel="stylesheet">


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush">
           <div class="sidebar-heading"><img style='height: 100%; width:100%;object-fit: contain ' src="static/images/PADSLOGO.png"/> </div>
        <a href="InsideEventLog.html" class="list-group-item list-group-item-action bg-light">Inside Event Log</a>
        <a href="TimeTest.html" class="list-group-item list-group-item-action bg-light">TimeWindow Test</a>
        <a href="EventLog.html" class="list-group-item list-group-item-action bg-light">Event Log to SD Log</a>
        <a href="SDLog.html" class="list-group-item list-group-item-action bg-light">Relation Detection</a>
        <a href="SDLogResutl.html" class="list-group-item list-group-item-action bg-light">Relation Detection Detailed</a>
        <a href="DesignedCDF.html" class="list-group-item list-group-item-action bg-light">Generate CLD Graph</a>
        <a href="DesignedSFD.html" class="list-group-item list-group-item-action bg-light">Generate SFD Graph</a>
        <a href="Validation.html" class="list-group-item list-group-item-action bg-light">Simulation and Validation</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1">About US</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="https://www.researchgate.net/profile/Mahsa_Bafrani">Project Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4" style="color:#00529F;">Map Parameters</h1><br>

          <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <form action = "http://localhost:5000/DesignedCDF.html" method = "POST"  name="formmap">

                  <table style="width:100%">
                  <tr>
                      <th></th>
                      {% for param, val in param_list.items()%}
                    <th style="color:#00529F; font-size:11pt;">{{param}} </th>
                       {% endfor %}
                  </tr>
                    <tr> <th></th></tr>
                    <tr>

                         {% for param, val in param_list.items()%}
                        <th style="color:#00529F; font-size:10pt;">{{param}} <p style="color:#00b0b8;">is influenced by:</p> </th>
                         {% for pparam, vval in param_list.items()%}

                        <td > <lable class="form-check-label"><input name={{param}}+{{pparam}} class="form-check-input" type="checkbox">
                        {% if vval.get(param)>0.6 or vval.get(param)<-0.6 %}
                            <font color=" #4a357a "><b>Strong</b></font>
                            {% else %}
                                <font color=" #bdace7 ">Weak</font>
                            {% endif %}

                        </lable>

                        </td>

                        {% endfor %}

                    </tr>
                    {%endfor %}
                    <tr>


                    </tr>

                </table>
<!--
            {% for param, val in param_list.items()%}
                <p> <b>{{param}}</b> gets influence from:</p>
                <p><input name={{param+"+"+"No"}} type="checkbox" style="margin-right: 10px">No one</input></p>
                {% for k,v in val.items()%}
                    {%if v != 0%}
                <p> <input name={{param+"+"+k}} type="checkbox" style="margin-right: 10px">{{k}}</input></p>
                    {% endif%}
                {% endfor %}

            {% endfor %}
            -->

        </p>
        <p><input  class="btn btn-primary mb-2" method= "POST" value="Creat CFD" type = "submit" id="CreatCFD" onclick="ShowBtnCFD()" name = "submit" ></input></p>



             </form>
<div id="divshowcfdBt">
                 <p><button  class="btn btn-primary mb-2" type = "submit" id="ShowCFD" onclick="ShowCFD()" value = "submit" > Show CLD</button></p>
                 <a id="downloadlink" class="label label-primary"  download href="ModelsFormat/newtestDFD.mdl" > Right click to get the CLD Model </a>
            </div>
          </div>

          </div>


        <div class="col-sm-12 col-md-12 col-lg-12">

          <div id="divShowCFD" style="display:none;" >
              <div>The simulation file (.mdl) is created on : <b><i> /current directory/newtestDFD.mdl</i></b> </div>
            <iframe  scrolling="no" src="mygraph.html" width="100%" style="height: 50em;width:50em;" alt=""></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>


<div id="foot" style="width:100%; height:90px;" class="bg-dark border-right">
      <p style="color : white;font-size:300%;">PADS RWTH Aachen University</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function ShowBtnCFD(){
     document.getElementById('divshowcfdBt').style.display = "block";   }
      function ShowCFD(){
     document.getElementById('divShowCFD').style.display = "block";   }
      function ShowLink(){
     document.getElementById('downloadlink').style.display = "block";   }
</script>

</body>

</html>
