{% extends "baseforSim.html" %}


{% block title %} Stock Flow Diagram Generator: Map Variables to the Elements {% endblock %}

{% block content %}

          <div class="col-sm-3 col-md-6 col-lg-4">
            <form action = "http://localhost:5000/DesignedSFD.html" method = "POST"  name="formmap">
            {% for param, val in param_list.items()%}
                <label for={{param}}><b>{{param}}</b></label>
                <p>
                <select class="form-control" id={{param}} name={{param}}>
                {% for v in val%}
                    <p> <option name={{param+"+"+v}} value={{v}} >{{v}}</option></p>
                {% endfor %}
                </select></p>
            {% endfor %}

        </p>
        <p><input class="btn btn-primary mb-2" method= "POST" value="Creat SFD" type = "submit" id="CreatSFD" onclick="ShowBtnSFD()" name = "submit" ></input></p>

             </form>

     <div id="divshowcfdBt" >
                     <p><button  class="btn btn-primary mb-2" type = "submit" id="ShowSFD" onclick="ShowSFD()" value = "submit" > Show SFD</button></p>
           <a class="label label-primary" href="{{url_for('downloadSFDModel')}}" style="margin-right: 5px;"> Right click to download the SFD Model  </a>
         <!--a id="downloadlink" class="label label-primary"  download href="ModelsFormat/new1StockSFD.mdl" > Right click to get the SFD Model </a-->
    </div>
              </div>




          <div id="divShowSFD" style="display:none;" class="col-sm-9 col-md-6 col-lg-8">
              <div>The simulation file (.mdl) is created on : <b><i> /ModelsFormat/new1StockSFD.mdl</i></b> </div>
            <iframe  scrolling="no" src="mygraph.html" width="100%" style="height: 50em" alt=""></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>


<div id="foot" style="width:100%; height:90px;" class="bg-dark border-right">
      <p style="color : white;font-size:300%;">PADS RWTH Aachen University</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function ShowBtnCFD(){
     document.getElementById('divshowcfdBt').style.display = "block";   }
      function ShowSFD(){
     document.getElementById('divShowSFD').style.display = "block";   }
</script>

{% endblock %}