{% extends "baseforSim.html" %}


{% block title %} Generating SD Logs {% endblock %}

{% block content %}
          <div class="col-sm-3 col-md-6 col-lg-4">
        <form  method = "POST">
            <p>Event log: <input type = "file" value="fileupload" name = "Event Log" /></p>
            <p>Time Window: <input type = "text" class="form-control" name ="time_window" /></p>
            <br>
            <p>General: <input type = "radio" name = "general" value="General" /></p>
            <p>Organizational: <input type = "radio" name = "general" value="Organizational" /></p>
             <p>Activity Flow: <input type = "radio" name = "general" value="Activity Flow" /></p>
            <p>Resources: <input type = "radio" name = "general" value="Resources" /></p>
 <p>Activity/Resource List: <input type = "text" name = "AcReList" placeholder="act1,act2,... or res1,res2,..." /></p>
            <p>Remove In-active Time: <input type="checkbox" name="inactive"></p>
            <p><input type = "submit" class="btn btn-primary mb-2" value = "submit" id ='submitEL' /></p>
        </form>
            <div id ='ELResult' >

              <p><select class="form-control" id="selectOrg">The SD Log generated: {% for it in sd_log %} <option name={{it}} value={{it}}/> {{it}}</option>{% endfor %}</select> </p>
                <p><button title="Show El Result" name = "submit" class="btn btn-primary mb-2" id ='showELResult' onclick="LoadELResultimg()">ShowELResult</button></p>
                <a class="label label-primary" href="{{url_for('ready_sd_log')}}" style="margin-right: 5px;"> Right click to get the SDLog </a>
                  <p><a class="label label-primary" href="BehaviorDiscovery.html" >Redirect to the Diagnostic Section</a></p>
                 <!--a id="downloadlink" class="label label-primary"  download onclick="DownloadResult()"> Right click to get the SDLog </a-->

            </div>


            </div>

          <div id="ELResultimg" style="display:none;" class="col-sm-9 col-md-6 col-lg-8">

             <img id="resultImg" class="img-responsive"  alt=""></img>

          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
   function LoadELResult() {
  document.getElementById('ELResult').style.display = "block";
}

function DownloadResult() {
var e = document.getElementById("selectOrg");
  var value = e.options[e.selectedIndex].text;
  document.getElementById("downloadlink").href = value;

  }



function LoadELResultimg() {
var e = document.getElementById("selectOrg");
  var value = e.options[e.selectedIndex].text;
  var newsrc = "static/images/"+value+".png";
  document.getElementById("resultImg").src = newsrc;
  document.getElementById('ELResultimg').style.display = "block";

/*
document.getElementById('ELResultimg').style.display = "block";
var sdname = document.getElementsByName('SDLog')
for(i = 0; i < sdname.length; i++) {
                if(sdname[i].checked){
                alert(sdname[i].value)
                      document.getElementById("resultImg").src= "static/images/"+sdname[i].value+".png";
                      }
            }
*/
}
  </script>

{% endblock %}