<!DOCTYPE html>
<html lang="en">

<head>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0">
<meta Http-Equiv="Pragma-directive: no-cache">
<meta Http-Equiv="Cache-directive: no-cache">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   <title>Scenario-based Analysis of Processes</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
 <div class="bg-light border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush">
           <div class="sidebar-heading"><img style='height: 100%; width:100%;object-fit: contain ' src="static/images/PADSLOGO.png"/> </div>
        <a href="InsideEventLog.html" class="list-group-item list-group-item-action bg-light">Inside Event Log</a>
        <a href="TimeTest.html" class="list-group-item list-group-item-action bg-light">TimeWindow Test</a>
        <a href="EventLog.html" class="list-group-item list-group-item-action bg-light">Event Log to SD Log</a>
        <a href="SDLog.html" class="list-group-item list-group-item-action bg-light">Relation Detection</a>
        <a href="SDLogResutl.html" class="list-group-item list-group-item-action bg-light">Relation Detection Detailed</a>
        <a href="DesignedCDF.html" class="list-group-item list-group-item-action bg-light">Generate CLD Graph</a>
        <a href="DesignedSFD.html" class="list-group-item list-group-item-action bg-light">Generate SFD Graph</a>
        <a href="Validation.html" class="list-group-item list-group-item-action bg-light">Simulation and Validation</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1">About US</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="https://www.researchgate.net/profile/Mahsa_Bafrani">Project Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4" style="color:#00529F;">Data Pre-processing</h1>
          <br>
        <div class="row">
          <div class=" col-sm-3 col-md-6 col-lg-4">


        <form  name="extract" action="InsideEventLog.html" method = "POST" enctype="multipart/form-data">
            <p>Event log: <input class="form-control-file" type = "file" value="fileupload" name = "Event Log"  /></p>
            <p><input type = "submit" value = "Upload EventLog" class="btn btn-primary mb-2" id ='submitresEL' /></p>

            <label for="CaseID"><b>Case ID</b></label>
            <select class="form-control" id="CaseID" name="CaseID">
            {% for c in el_cols %}
            <p> <option name={{c}} value={{c}} >{{c}}</option></p>

          {% endfor %}
            </select>
            <br>
            <label for="Activity"><b>Activity</b></label>
            <select class="form-control" id="Activity"  name="Activity">
            {% for c in el_cols %}
            <p> <option name={{c}} value={{c}} >{{c}}</option></p>

          {% endfor %}
            </select>
            <br>
             <label for="Resource"><b>Resource</b></label>
            <select class="form-control" id="Resource" name="Resource">
            {% for c in el_cols %}
            <p> <option name={{c}} value={{c}} >{{c}}</option></p>

          {% endfor %}
            </select>
            <br>
             <label for="StartTime"><b>Start Timestamp</b></label>
            <select class="form-control" id="StartTime" name="StartTime">
            {% for c in el_cols %}
            <p> <option name={{c}} value={{c}} >{{c}}</option></p>

          {% endfor %}
            </select>
            <br>
             <label for="CompleteTime"><b>Complete Timestamp</b></label>
            <select class="form-control" id="CompleteTime" name="CompleteTime">
            {% for c in el_cols %}
            <p> <option name={{c}} value={{c}} >{{c}}</option></p>

          {% endfor %}
            </select>
            <br>
            <input type="submit" class="btn btn-primary mb-2" id="setCols" value="Set Attributes" name="setCols">

        </form>


              <div style=" font-style: italic;">The Preprocessed Event Log is generated on "Outputs/ready_event_log.csv"</div>
              <div>
                   <button class="btn btn-primary mb-2", type = "submit" id="ShowDFG" onclick="ShowDFG()" value = "submit">Discover DFG </button>
                    <a class="label label-primary" href="Outputs/ready_event_log.csv" style="margin-right: 5px;" download=""> Right click to get the event log </a>
              </div>

          </div>
            <div  class="col-sm-3 col-md-2 col-lg-2" id="ELResultimg">
           {{el_info}}
          </div>
             <div id="divShowDFG"  class="col-sm-6 col-md-4 col-lg-6" style="display:none;">
                <iframe  scrolling="no" src="mygraph.html" width="100%" style="height: 50em" alt=""></iframe>

            </div>


        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
   function LoadELResult() {
  document.getElementById('ELResult').style.display = "block";
}
function LoadELResultimg() {
  document.getElementById('ELResultimg').style.display = "block";

}
function ShowDFG(){
document.getElementById('divShowDFG').style.display = "block";   }



  </script>

</body>

</html>
