<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">

        #mynetwork {
            width: 800px;
            height: 800px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }

        

        

        
</style>

</head>

<body>
<div id = "mynetwork"></div>


<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet([{"borderWidth": 0, "color": "white", "id": "Numofuniqueresource1W", "label": "Numofuniqueresource1W", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "Servicetimepercase1W", "label": "Servicetimepercase1W", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "Timeinprocesspercase1W", "label": "Timeinprocesspercase1W", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "Waitingtimeinprocesspercase1W", "label": "Waitingtimeinprocesspercase1W", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "Numinprocesscase1W", "label": "Numinprocesscase1W", "shape": "box"}, {"borderWidth": 3, "bordercolor": "black", "id": "Processactivetime1W", "label": "Processactivetime1W", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "s1", "label": "s1", "shape": "box"}, {"borderWidth": 0, "color": "white", "id": "e1", "label": "e1", "shape": "box"}]);
        edges = new vis.DataSet([{"arrows": "to", "border": 3, "color": "blue", "from": "s1", "label": "Arrivalrate1W", "to": "Processactivetime1W"}, {"arrows": "to", "border": 3, "color": "blue", "from": "Processactivetime1W", "label": "Finishrate1W", "to": "e1"}, {"arrows": "to", "color": "blue", "from": "Numofuniqueresource1W", "to": "Numofuniqueresource1W"}, {"arrows": "to", "color": "blue", "from": "Timeinprocesspercase1W", "to": "Servicetimepercase1W"}, {"arrows": "to", "color": "blue", "from": "Waitingtimeinprocesspercase1W", "to": "Timeinprocesspercase1W"}, {"arrows": "to", "color": "blue", "from": "Servicetimepercase1W", "to": "Waitingtimeinprocesspercase1W"}, {"arrows": "to", "color": "blue", "from": "Numinprocesscase1W", "to": "Waitingtimeinprocesspercase1W"}, {"arrows": "to", "color": "blue", "from": "Timeinprocesspercase1W", "to": "Numinprocesscase1W"}]);

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {
    "configure": {
        "enabled": false
    },
    "edges": {
        "color": {
            "inherit": true
        },
        "smooth": {
            "enabled": false,
            "type": "continuous"
        }
    },
    "interaction": {
        "dragNodes": true,
        "hideEdgesOnDrag": false,
        "hideNodesOnDrag": false
    },
    "physics": {
        "enabled": true,
        "stabilization": {
            "enabled": true,
            "fit": true,
            "iterations": 1000,
            "onlyDynamicEdges": false,
            "updateInterval": 50
        }
    }
};
        
        

        // default to using dot shape for nodes
        options.nodes = {
            shape: "dot"
        }
        

        network = new vis.Network(container, data, options);

        


        

        return network;

    }

    drawGraph();

</script>
</body>
</html>