<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">

        #mynetwork {
            width: 800px;
            height: 800px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }

        

        

        
</style>

</head>

<body>
<div id = "mynetwork"></div>


<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet([{"id": "NextCall", "label": "NextCall", "shape": "box"}, {"id": "AcceptDriverReq", "label": "AcceptDriverReq", "shape": "box"}, {"id": "ProcessNextdriverReq", "label": "ProcessNextdriverReq", "shape": "box"}, {"id": "DoneDriverReq", "label": "DoneDriverReq", "shape": "box"}, {"id": "RejectCall", "label": "RejectCall", "shape": "box"}, {"id": "AcceptCarReq", "label": "AcceptCarReq", "shape": "box"}, {"id": "ProcessNextCarReq", "label": "ProcessNextCarReq", "shape": "box"}, {"id": "DoneCarReq", "label": "DoneCarReq", "shape": "box"}, {"color": "green", "id": "start", "label": "start", "shape": "box"}, {"color": "red", "id": "end", "label": "end", "shape": "box"}]);
        edges = new vis.DataSet([{"arrows": "to", "from": "NextCall", "to": "AcceptDriverReq"}, {"arrows": "to", "from": "NextCall", "to": "ProcessNextdriverReq"}, {"arrows": "to", "from": "ProcessNextdriverReq", "to": "DoneDriverReq"}, {"arrows": "to", "from": "NextCall", "to": "RejectCall"}, {"arrows": "to", "from": "NextCall", "to": "AcceptCarReq"}, {"arrows": "to", "from": "NextCall", "to": "ProcessNextCarReq"}, {"arrows": "to", "from": "ProcessNextCarReq", "to": "DoneCarReq"}, {"arrows": "to", "from": "start", "to": "NextCall"}, {"arrows": "to", "from": "AcceptDriverReq", "to": "end"}, {"arrows": "to", "from": "DoneDriverReq", "to": "end"}, {"arrows": "to", "from": "RejectCall", "to": "end"}, {"arrows": "to", "from": "AcceptCarReq", "to": "end"}, {"arrows": "to", "from": "DoneCarReq", "to": "end"}]);

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {
    "configure": {
        "enabled": false
    },
    "edges": {
        "color": {
            "inherit": true
        },
        "smooth": {
            "enabled": false,
            "type": "continuous"
        }
    },
    "interaction": {
        "dragNodes": true,
        "hideEdgesOnDrag": false,
        "hideNodesOnDrag": false
    },
    "physics": {
        "enabled": true,
        "stabilization": {
            "enabled": true,
            "fit": true,
            "iterations": 1000,
            "onlyDynamicEdges": false,
            "updateInterval": 50
        }
    }
};
        
        

        // default to using dot shape for nodes
        options.nodes = {
            shape: "dot"
        }
        

        network = new vis.Network(container, data, options);

        


        

        return network;

    }

    drawGraph();

</script>
</body>
</html>