{% extends "baseforSim.html" %}


{% block title %} Relation Detection {% endblock %}

{% block content %}

          <div class="col-sm-2 col-md-6 col-lg-3">
            <form action = "http://localhost:5000/SDLogResutl.html" method = "POST"  name="formmap">
                <label for=params><b>Parameters</b></label>
                <p>
                <select class="form-control" id="params" name="params">
            {% for param in params_list%}
                <p> <option name={{param}} value={{param}} >{{param}}</option> </p>
            {% endfor %}
                    </select></p>

        </p>
        <p><input  class="btn btn-primary mb-2" method= "POST" value="Generate Relation" type = "submit" id="Generate" onclick="ShowBtnSFD()" name = "submit" ></input></p>

             </form>

     <div id="divshowcfdBt" >
                     <p><button  class="btn btn-primary mb-2" type = "submit" id="ShowParamRel" onclick="ShowParamRel()" value = "submit" > Show Relations</button></p>
    </div>
              </div>




          <div id="divShowRel" style="display:none;" class="col-sm-10 col-md-6 col-lg-9">
              <div>The relation file is created on : <b><i> /current directory/</i></b> </div>
               <img  id= 'lincorrimg'  src="static/images/{{param_name}}" width="100%" style="height: 100%;width: 100%;" alt=""></img>

          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>







<div id="foot" style="width:100%; height:90px;" class="bg-dark border-right">
      <p style="color : white;font-size:300%;">PADS RWTH Aachen University</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script>
   function ShowParamRel() {
  document.getElementById('divShowRel').style.display = "block";
};
/*
var d = new Date();
    document.getElementById("lincorrimg").src =
      "static/images/corr.png" +
       d.getTime();
        document.getElementById("nlincorrimg").src =
      "static/images/corr.png" +
       d.getTime();
       */

  </script>

{% endblock %}