<!DOCTYPE html>

<html lang="en" enctype='multipart/form-data'>

<head>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0">
<meta Http-Equiv="Pragma-directive: no-cache">
<meta Http-Equiv="Cache-directive: no-cache">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Scenario-based Analysis of Processes</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
     <div class="bg-light border-right" id="sidebar-wrapper">

     <div class="list-group list-group-flush">
           <div class="sidebar-heading"><img style='height: 100%; width:100%;object-fit: contain ' src="static/images/PADSLOGO.png"/> </div>
        <a href="InsideEventLog.html" class="list-group-item list-group-item-action bg-light">Inside Event Log</a>
        <a href="TimeTest.html" class="list-group-item list-group-item-action bg-light">TimeWindow Test</a>
        <a href="EventLog.html" class="list-group-item list-group-item-action bg-light">Event Log to SD Log</a>
        <a href="SDLog.html" class="list-group-item list-group-item-action bg-light">Relation Detection</a>
        <a href="SDLogResutl.html" class="list-group-item list-group-item-action bg-light">Relation Detection Detailed</a>
        <a href="DesignedCDF.html" class="list-group-item list-group-item-action bg-light">Generate CLD Graph</a>
        <a href="DesignedSFD.html" class="list-group-item list-group-item-action bg-light">Generate SFD Graph</a>
        <a href="Validation.html" class="list-group-item list-group-item-action bg-light">Simulation and Validation</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

     <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1">About US</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="https://www.researchgate.net/profile/Mahsa_Bafrani">Project Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4" style="color:#00529F;">Relation Detection</h1>
          <br>
        <div class="row">

            <div class="col-sm-3 col-md-6 col-lg-4">
                <form action = "" method = "POST" enctype=multipart/form-data >
            <p>SD Log: <input type = "file" value="fileupload" name="SDLog" /></p>
                     <div class="form-check form-check-inline">
                         <label for="Linear" class="form-check-label pr-2">Correlation (Pearson, Linear): </label><input id="Linear" class="form-check-input" type = "checkbox" name = "Linear" /> </div>
            <p>Threshold to filter the relashion:<input class="form-control-file" type = "number" min ="0.01" step="0.01" value="0.1" max="1" name = "ThreLinear" id ="ThreLinear" /></p>
             <div class="form-check form-check-inline">
                 <label for="Linear" class="form-check-label pr-2">Distance Correlation (Non-Linear):</label> <input class="form-check-input" type = "checkbox" name = "NLinear" /></div>

            <p>Threshold to filter the relashion:<input class="form-control-file" type = "number" min ="0.01" step="0.01" value="0.1" max="3" name = "ThreNLinear" id="ThreNLinear" /></p>
            <p>Time Window Shift:<input class="form-control-file" type = "number" min ="0" step="1" value="0" max="3" name = "TWshift" id="TWshift" /></p>
            <p><button  class="btn btn-primary mb-2" type = "submit" title="Calculate Correlation" value = "submit" id="CallCorr" onclick="CallCorr()" >Calculate Correlation</button></p>
        </form>

                <div id="divShowCorr">
                    <p><button  class="btn btn-primary mb-2" class="btn btn-primary mb-2" type = "submit" value = "submit" id="ShowCorr" onclick="ShowCorr()">Show Correlation</button></p>
                </div>


            </div>


            <div id="divlincorrimg" style="display:none;" class="col-sm-3 col-md-6 col-lg-4">
            <img  id= 'lincorrimg'  src="static/images/discorr.png" width="100%" style="height: 100%;width: 100%;" alt=""></img>
          </div>

            <div id="divnlincorrimg" style="display:none;" class="col-sm-3 col-md-6 col-lg-4">
          <img  id= 'nlincorrimg'  src="static/images/corr.png" style="height: 100%;width: 100%;" alt=""></img>
          </div>

        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
<div id="foot" style="width:100%; height:90px;" class="bg-dark border-right">
      <p style="color : white;font-size:200%;">PADS RWTH Aachen University</p>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script>
   function CallCorr() {
  document.getElementById('divShowCorr').style.display = "block";
};
   function ShowCorr() {
  document.getElementById('divlincorrimg').style.display = "block";
   document.getElementById('divnlincorrimg').style.display = "block";
}
/*
var d = new Date();
    document.getElementById("lincorrimg").src =
      "static/images/corr.png" +
       d.getTime();
        document.getElementById("nlincorrimg").src =
      "static/images/corr.png" +
       d.getTime();
       */

  </script>
</body>

</html>
