{% extends "baseforSim.html" %}


{% block title %} Stability Test of Time Windows {% endblock %}

{% block content %}
          <div class="col-sm-3 col-md-6 col-lg-4">
        <form  action="" method = "POST">
            <p>Event Log: <input type = "file" value="fileupload" name = "Event Log" /></p>
            <br><div class="form-check form-check-inline"><p>Patterns Inside the Process:</p>
                <br><p><input class="form-control" type = "text" name ="Hourly" placeholder="Hourly, ex: H,2H,..."/></p><br>
                <p><input class="form-control" type = "text" name ="Daily" placeholder="Daily, ex: D,2D,..."/></p>
                <p><input class="form-control" type = "text" name ="Weekly" placeholder="Weekly, ex: W,2W,..."/></p>
                <p><input class="form-control" type = "text" name ="Monthly" placeholder="Monthly, ex: M,2M,..."/></p>
            </div>
            <!--div>
                <br><label for="Hourly" class="form-check-label pr-2">Hourly: </label><input id="Hourly" class="form-check-input" type = "checkbox" name = "Hourly" /><br>
                 <label for="Daily" class="form-check-label pr-2"> Daily: </label><input id="Daily" class="form-check-input" type = "checkbox" name = "Daily" /><br>
                 <label for="Weekly" class="form-check-label pr-2"> Weekly: </label><input id="Weekly" class="form-check-input" type = "checkbox" name = "Weekly" /><br>
                 <label for="Monthly" class="form-check-label pr-2"> Monthly: </label><input id="Monthly" class="form-check-input" type = "checkbox" name = "Monthly" /><br>
                 <label for="Yearly" class="form-check-label pr-2">Yearly: </label><input id="Yearly" class="form-check-input" type = "checkbox" name = "Yearly" />

             </div-->
            <div>
                  <br><p>General: <input type = "radio" name = "general" value="General" /></p>
            <!--p>Organizational: <input type = "radio" name = "general" value="Organizational" /></p>
             <p>Activity Flow: <input type = "radio" name = "general" value="Activity Flow" /></p>
                <p>Resources: <input type = "radio" name = "general" value="Resources" /></p-->
            </div>

            <p><input  class="btn btn-primary mb-2" type = "submit" value = "submit" id ='submitEL' /></p>

        </form>

              <p><button  class="btn btn-primary mb-2" id="Validate" onclick="Validate()">Time Window Check</button></p>
               <div><p id="PatternRes" style="">{{tw_result}}</p></div>

          </div>

            <div id="ELResultimg" style="display:none;" class="col-sm-9 col-md-6 col-lg-8">

                <div><img class="img-responsive" src="static/images/UserPattern.png" alt=""></div>
                 <div><img class="img-responsive" src="static/images/UserTWError.png" alt=""></div>

          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
   function Validate() {
  document.getElementById('ELResultimg').style.display = "block";
  ocument.getElementById('PatternRes').style.display = "block";
}
function LoadELResultimg() {
  document.getElementById('ELResultimg').style.display = "block";
}
  </script>

{% endblock %}
