{% extends "baseforSim.html" %}


{% block title %} Simulation Result Validation {% endblock %}

{% block content %}
          <div class="col-sm-2 col-md-5 col-lg-3">
        <form  action="/Validation.html" method = "POST" enctype="multipart/form-data">
            <p>SD log: <input type = "file" value="fileupload" name = "SDLog" /></p>
            <p>SD Model: <input type = "file" value="fileupload" name = "SDResultLog" /></p>
            <p><input  class="btn btn-primary mb-2" type = "submit" value = "submit" id ='submitEL' /></p>
            <p><select class="form-control" name="param_val" id="selectVal">
                {% for i in val_image_names%}<option value={{i}}>{{i}}</option>{% endfor %}</select></p>
        </form>
              <p><button  class="btn btn-primary mb-2" id="Validate" onclick="Validate()">Validate</button></p>
            </div>

            <div id="ELResultimg" style="display:none;" class="col-sm-10 col-md-7 col-lg-9">
            <img class="img-responsive" id="changeImage" alt="" >
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
   function Validate() {
  var e = document.getElementById("selectVal");
  var value = e.options[e.selectedIndex].value;
  var newsrc = "static/images/"+value+"_validation.png";
  document.getElementById("changeImage").src = newsrc;
  document.getElementById('ELResultimg').style.display = "block";


}
function LoadELResultimg() {
  document.getElementById('ELResultimg').style.display = "block";
}
  </script>

{% endblock %}
